<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div class="ct-chart"></div>
        </div>
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
            <div class="ct-chart2"></div>
        </div>
        <div class="demo-cards mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col">
            <div class="ct-chart3"></div>
        </div>
    </div>
</main>